pre > code {
    display: block;
    padding: 8px;
    margin: 8px;
}

code {
    width: fit-content;
    max-width: 75vw;
    height: fit-content;
    max-height: 300px;
    color: #111;
    background-color: #fff;
    margin: 0 5px;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 4px;
    overflow: auto;
}

h1 {
    margin: auto 0 10px;
}

h2 {
    margin: 12px 0 6px;
}

p {
     margin: 0.6rem;
}